/* COLORES DE LA APLICACIÓN */
:root {
  --nav: #b6afee;
  --fondo: rgb(252, 252, 252);
  --boton: #7600dd;
  --color: #678edf;
}

.App {
  text-align: center;
  background-color: var(--fondo);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: var(--color);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* HOME */



/* NAVBAR */

.navbar {
  background-color: var(--nav);
}

.me-auto {
  font-size: large;
}

#admin {
  margin-left: 4px;
  font-size: large;
}

#cardit {
  font-size: medium;
}

/* PARTNERS */

#boton-socio {
  background-color: var(--gris);
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  font-size: medium;
  display: flex;
}

:where(.css-dev-only-do-not-override-10ed4xt).ant-btn-default:not(
    :disabled
  ):hover {
  color: var(--boton);
  border-color: var(--boton);
}

/* ID BUTTON */

#button:hover {
  color: var(--boton);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--boton);
}

#map {
  position: relative;
  bottom: 0;
  top: 0;
  width: 95%;
}
