/*COLORES BOSCO*/
:root {
  --beigeB: #F5EDDC;
  --gris: #CFD2CF;
  --rosa: #FA9494;
  --rojo: #EB1D36;

}

/*COLORES DOÑA MARÍA*/
:root {
  --verde: #698269;
  --marron: #B99B6B;
  --beigeM: #F1DBBF;
  --rojo-oscuro: #AA5656;
  --verde-fondo: #F6F8F6;

}

p {
  text-align: justify;
  text-justify: inter-word;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* NAVBAR */

.navbar {
  background-color: var(--beigeB);
}

#admin {
    margin-left: 4px;
    font-size: large;
}

#cardit{
    font-size: medium;
}

/* PARTNERS */

#boton-socio {
  background-color: var(--gris);
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  font-size: medium;
  display: flex;
}

:where(.css-dev-only-do-not-override-10ed4xt).ant-btn-default:not(:disabled):hover {
  color: var(--rosa);
  border-color: var(--rosa);
}

.adv-card {
  background-color: var(--verde-fondo);
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 30em;
  padding: 0.6rem;
  margin-bottom: 1rem;
  border: 1px solid #c2bfbf;
  border-radius: 4px;
}
.link-black{ 
  color: black !important;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 10px;
}
#sections{  
  font-size: larger;
}