/* COLORES BOSCO */
:root {
  --beigeB: #f5eddc;
  --gris: #cfd2cf;
  --rosa: #fa9494;
  --rojo: #eb1d36;
}

/* COLORES DOÑA MARÍA */
:root {
  --verde: #698269;
  --marron: #b99b6b;
  --beigeM: #f1dbbf;
  --rojo-oscuro: #AA5656;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* NAVBAR */

.navbar {
  background-color: var(--beigeB);
}

#admin {
    margin-left: 4px;
    font-size: large;
}

#cardit {
    font-size: medium;
}

/* PARTNERS */

#boton-socio {
  background-color: var(--gris);
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  font-size: medium;
  display: flex;
}

:where(.css-dev-only-do-not-override-10ed4xt).ant-btn-default:not(:disabled):hover {
  color: var(--rosa);
  border-color: var(--rosa);
}

#map {
  position: relative;
  bottom: 0;
  top: 0;
  width: 95%;
}